#app {
    display: grid;
    grid-template-columns: 200px auto 400px;;
    grid-template-rows: 50px auto;
    grid-template-areas:
        "sideButtons buttons date"
        "side-bar calendar calendar";
}

#buttons {
    grid-area: buttons;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#calendar {
    grid-area: calendar;
    /* width: 100%; */
    height: 800px;
    /* margin: 0 auto; */
  border: 1px solid #eee;
}

.date {
    grid-area: date;
    justify-self: end;
    place-self: center;
    font-family: Noto Sans;
}

#side-bar {
  grid-area: side-bar;
  margin: 1em;
}

#sideBarButtons {
    grid-area: sideButtons;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.calItem {
    display: flex;
    align-items: center;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#calendar-list {
    display: flex;
    flex-direction: column;
}

.calendarBtnLabel {
  border: none !important;
}

button {
  white-space: nowrap;
}

.spacer {
    width: 40px;
}
