#app {
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 50px auto;
    grid-template-areas:
        "side-bar buttons"
        "side-bar calendar";
}

#buttons {
    grid-area: buttons;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

button {

}

#calendar {
    grid-area: calendar;
    /* width: 100%; */
    height: 400px;
    /* margin: 0 auto; */
}

#side-bar {
    grid-area: side-bar;
}
